{% extends "base.html" %}
{% block content %}
<div class="container">
        <form action="{{ url_for('route_addtask') }}" method="post">
          <div class="container">
            <br></br>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Task</label>
            <div class="col-sm-10">
              <input type="username" class="form-control" id="inputEmail3" placeholder="Task Name" name="taskname">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
              <input type="username" class="form-control" id="inputPassword3" placeholder="Description" name="taskdes">
            </div>
          </div>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Status</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="not started">
                  <label class="form-check-label" for="gridRadios1">
                    Started
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="in progress">
                  <label class="form-check-label" for="gridRadios2">
                    In Progress
                  </label>
                </div>
                <div class="form-check disabled">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="done">
                  <label class="form-check-label" for="gridRadios3">
                    Ended
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group row">
            <div class="col-sm-2">Start Date</div>
            <div class="col-sm-10">
            <input id="beginID" class="taskEntry" type="datetime-local" name="start" placeholder="Begin"/>
            </div>
            <br></br>
              <div class="col-sm-2">End Date</div>
            <div class="col-sm-10">
              <input id="endID" class="taskEntry" type="datetime-local" name="end" placeholder="End"/>
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
          </div>
          </div>
        </form>
</div>
{% endblock %}